openapi: 3.2.0
info:
  title: brapi Fiis API
  version: 1.0.0
  description: brapi.dev Brazilian financial data REST API aggregating public market data from B3, CVM and Banco Central. Provides stock quotes, real estate funds, options, cryptocurrencies, currencies, inflation, and SELIC rate data.
servers:
- url: https://brapi.dev
tags:
- name: Fiis
paths:
  /api/fiis/listagem:
    get:
      summary: Real estate funds listing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      tags:
      - Fiis
      operationId: getApiFiisListagem
      x-operation-id-source: derived
  /api/fiis/indicadores:
    get:
      summary: Real estate funds indicators
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      tags:
      - Fiis
      operationId: getApiFiisIndicadores
      x-operation-id-source: derived
  /api/fiis/indicadores-historico:
    get:
      summary: Historical fund indicators
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      tags:
      - Fiis
      operationId: getApiFiisIndicadoresHistorico
      x-operation-id-source: derived
  /api/fiis/historico:
    get:
      summary: Historical quotations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      tags:
      - Fiis
      operationId: getApiFiisHistorico
      x-operation-id-source: derived
  /api/fiis/relatorios:
    get:
      summary: CVM reports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      tags:
      - Fiis
      operationId: getApiFiisRelatorios
      x-operation-id-source: derived
  /api/fiis/dividendos:
    get:
      summary: Dividends
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      tags:
      - Fiis
      operationId: getApiFiisDividendos
      x-operation-id-source: derived
components:
  schemas:
    GenericResponse:
      type: object
      additionalProperties: true
x-generated-from: https://brapi.dev/docs
x-generated-by: claude-crawl-2026-05-08
